<div id="report_list">
	<table class="table table-striped">
		<tr>
			<th>
	    		<input id="select_all_reports" type="checkbox">
	    	</th>
			<th>Name</th>
			<th>Project Root Path</th>
			<th></th>
		</tr>
	  <% @settings.each do |s| %>
			<tr>
				<td>
	      			<input class="checkbox-row" type="checkbox" value=<%= s.enabled %>>
	      		</td>
				<td><%= link_to s.name, project_settings_path(@project, s) %></td>
				<td><%= s.project_root_path %> </td>
				<td><%= link_to 'Delete', "#" %></td>
			</tr>
		<% end %>
	</table>
</div>