<div id="nav_project">
	<ul class="nav nav-tabs">
	  <li><%= nav_link "Features", @project %></li>
	  <li><%= nav_link "Reports", project_reports_path(@project) %></li>
	  <li><a href="#">Files</a></li>
	  <li><a href="#">Settings</a></li>
	</ul>
</div>