<div id="nav_project">
	<ul class="nav nav-tabs">
	  <li><%= nav_link "Features", @project %></li>
	  <li><%= nav_link "Reports", project_reports_path(@project) %></li>
	  <li><%= nav_link "Source Files", project_source_files_path(@project) %></li>
	  <li><%= nav_link "Settings", project_settings_path(@project) %></li>
	</ul>
</div>