<%= render 'project_breadcrumb' %>
<%= render 'project_nav_tabs' %>
<div class="panel-group" id="accordion">
  <% @features = parse_features %>
  <%= render partial: "feature", collection: @features %>
</div>