<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to "Quick QA", projects_path, id: "logo" %>
        <ul class="nav pull-right">
          <li><%= link_to "Sign In",    projects_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>